@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #ff7b00;
    --branco: #FFFFFF;
    --laranja: #7f14fa;
    --azul-degrade: linear-gradient(97.54deg, #ff0000 35.49%, #f3552e 165.37%);
    --fonte-principal: "Poppins";
    --azul: #7e1378;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #362f2f;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}